:root{
    --white:#eff4ff;
    --blue:#0d5ffd;
    --colorPlaceholder:#A2A2A2;
}

body{
    font-family: 'Poppins', sans-serif;
}

.app{
    display: grid;
     justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    background-color:var(--white) ;
    text-align: center;
    padding: 0 .5em;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.form__content{
    border-radius: 20px;
    background: var(--white);
    padding: 1em;
    box-shadow: 0 0 6px 6px var(--white),
     8px 8px 10px 4px rgb(129, 154, 181 , 0.43), 
     -8px -8px 10px 4px rgb(255 255 255);

}
.form__title{
    color:var(--blue);
   
}


.form{
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 5px 5px 8px rgb(129, 154, 181 , 0.43), -6px -6px 10px rgb(255 255 255);
    padding: 1em ;
}

.form__item{
    text-align: left;
}

.form__item--label{
    display: block;
    color: var(--blue);
    font-weight: 600;
    margin-bottom: .9em;
    font-size:1rem;

}

.form__item--input{
    display: block;
    width: 90%;
    border: none;
    background-color: var(--white);
    box-shadow: inset -2px -2px 6px rgb(59 59 59 / 18%),
     inset 2px 2px 6px rgb(129 154 181 / 43%);
     padding:.5em .9em;
    border-radius: 20px;
    color:var(--blue);
    font-size: 1em;
    outline: none;
    
    
}
/* si selecciono en el input */
.form__item--input:focus{
    box-shadow: -2px -2px 6px rgb(255 255 255),
     2px 2px 6px rgb(129 154 181 / 43%);
}

.form__item--input::placeholder{
   color: var(--colorPlaceholder);
}

.form__item--button{
    border: none;
    border-radius: 50px;
    box-shadow: -5px -5px 10px rgb(255, 255, 255), 5px 5px 10px rgb(129 154 181 / 43%);
    font-weight: 600;
    background: var(--blue);
    color: var(--white);
    margin-top: 1em;
    padding: 1em;
    width: 100%;
}
/* si hizo click */
.form__item--button:active{
    box-shadow: -5px -5px 15px rgb(255, 255, 255), 5px 5px 20px rgb(129 154 181 / 43%);
    color: #0d5ffd;
    background: #eff4ff;
    
}

/* error */
.error{
    color: rgb(223, 35, 35);
}

/* gastos */
.gastos__item{
    text-align: left;
}
.gastos__description{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-top: 2.5em;
    
}
.gastos__form{
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 5px 5px 8px rgb(129, 154, 181 , 0.43), -6px -6px 10px rgb(255 255 255);
    padding: 2em ;
}

.description__list{
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 5px 5px 8px rgb(129, 154, 181 , 0.43), -6px -6px 10px rgb(255 255 255);
    padding: 2em ;
}

.description__header{
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 8px rgb(129, 154, 181 , 0.43), -6px -6px 10px rgb(255 255 255);
    border-radius: 20px;
    padding: 0 1em ;
    margin: .5em;
}
.description__list--gastos{
    display: flex;
    padding: 0 1em ;
    margin: .5em;
    justify-content: space-between;
    
}
.empty{
    
}

.color__red{
    color: rgb(216, 27, 27);
}

.color__orange{
    color: rgb(240, 162, 17);
}

.form__item--button-agotado{
    background-color: rgb(129, 126, 126);
    border: none;
    border-radius: 50px;
    box-shadow: -5px -5px 10px rgb(255, 255, 255), 5px 5px 10px rgb(129 154 181 / 43%);
    font-weight: 600;
    color: var(--white);
    margin-top: 1em;
    padding: 1em;
    width: 100%;
}

@media screen and (max-width:888px){
    .gastos__description{
       
        grid-template-columns: 1fr;
        
        
    }
}
.monto__init{
        margin-right: 1em;
}